body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0f1115;
    color: #e8e8e8;
}

.nav {
    background: #14171d;
    padding: 18px;
    text-align: center;
    border-bottom: 1px solid #1f232b;
}

.logo {
    margin: 0;
    letter-spacing: 1px;
    color: #4cc9f0;
}

.hero {
    text-align: center;
    padding: 35px 10px;
}

.pfp {
    width: 120px;
    height: 120px;
    border-radius: 25px;
    object-fit: cover;
    border: 3px solid #4cc9f0;
}

.name {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 600;
}

.tagline {
    opacity: 0.8;
    font-size: 14px;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: auto;
}

.card {
    background: #171a20;
    border-radius: 14px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid #21252d;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.acc-btn {
    width: 100%;
    background: #21252d;
    padding: 15px;
    color: #4cc9f0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
}

.acc-btn:hover {
    background: #262b34;
}

.acc-content {
    display: none;
    padding: 15px;
    background: #1a1d23;
    color: #cfd2d6;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    opacity: 0.6;
    font-size: 14px;
}
